@model IEnumerable<CoradoK_A2.Models.Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListResponses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <!--View modified from textbook tutorial as to correlate to the use intent for a student competitiion (in this case a hackathon)-->
    <div class="panel-body">
        <h2>Here is the list of people attending the hackathon.</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Interest</th>
                    <th>Social Network</th>
                </tr>
            </thead>
            <tbody>
                <!--From tutorial-->
                <!-- (insert at symb here)foreach (CoradoK_A2.Models.GuestResponse r in Model)-->
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StudentId</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.TechnicalInterest</td>
                        <td>@item.SocialNetworkInterest</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
