@model CoradoK_A2.Models.Student
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchStudent</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <div class="panel-body">
        <h2>Searching for student by student ID.</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Interest</th>
                    <th>Social Network</th>
                    <th>Attendance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.StudentId</td>
                    <td>@Model.Name</td>
                    <td>@Model.Email</td>
                    <td>@Model.Phone</td>
                    <td>@Model.TechnicalInterest</td>
                    <td>@Model.SocialNetworkInterest</td>
                    <td>@Model.AcceptRegret</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
